[Unit]
Description=Jira Thing backend API (api-jira-thing)
After=network.target

[Service]
Type=simple
User=grimlock
Group=grimlock
WorkingDirectory=/var/www/vhosts/api-jira-thing.truvis.co
EnvironmentFile=/etc/api-jira-thing.truvis.co/config.ini
ExecStart=/var/www/vhosts/api-jira-thing.truvis.co/api-backend
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
